* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

.header-section {
    background-image: url('./images/header.jpg');
    object-fit: cover;
    height: 450px;
    position: relative;
}

.header-section-navigation {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-size: 13px;
    border-bottom: 1px solid #fff;
    border-radius: 1px;
    padding: 15px;
    width: 1000px;
    margin: 0 auto;
}

.logo  {
    width: 100px;
    height: 40px;
    display: block;
    margin: 10px;
}

.header-section-navigation ul li  {
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px;
}
.header-section-navigation ul li a {
   color: #fff;
   text-decoration: none;
   font-family: 'Raleway';
}

.header-section-content {
    text-align: center;
    margin: 0 auto;
    margin: 80px;
    font-family: 'Open Sans';
}

.header-section-content h1 {
    color: #fff;
    margin: 20px;
    text-transform: uppercase;
}

.header-section-content p {
    color: #fff;
    margin: 20px;
    font-family: 'Raleway';
}

.btn {
    border: none;
    outline: none;
    width: 170px;
    height: 40px;
    padding: 10px;
    text-transform: uppercase;
    background-color: rgb(175, 68, 68);
    color: #fff;
    cursor: pointer;
    margin: 40px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 40px;
}

.item {
    flex-basis: 30%;
    text-align: center;
    align-items: center;
    font-family: 'Raleway';
    text-transform: uppercase;
}
.item img, h4 {
    margin: 15px;
}

.item p {
    color: #ccc;
    margin: 20px;
    text-transform: none;
}

.row-images {
    display: flex;
    flex-wrap: nowrap;
}

.row-images img {
    flex-basis: 25%;
    width: 250px;
    margin:1px;
}

.row-employees {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway';
    width: 700px;
    margin: 0 auto;
}

.employee {
    flex-basis: 25%;
    text-align:start;
    margin: 10px;
}

.employee h5 {
    margin: 10px;
    font-size: 18px;
}

.employee h6 {
    color: rgb(175, 68, 68);
    margin: 10px;
    font-size: 12px;
    text-transform: uppercase;
}
.employee img {
    width: 200px;
}

.section-download {
    height: 200px;
    width: 100%;
    text-align: center;
    margin: 40px;
    font-family: 'Raleway';
} 

.section-download .btn {
    margin: 30px;
}
.section-download p {
    font-weight: bold;
}
.section-download h2 {
    margin: 15px;
    color: rgb(153, 150, 150);
}

.row-footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(75, 75, 126);
    color: #fff;
    height: 200px;
    padding: 30px;
    font-family: 'Raleway';
}

.row-copyright {
    background-color: rgb(66, 66, 128);
    text-align: center;
    color: #fff;
    height: 90px;
    padding: 20px;
    font-family: 'Raleway';
}

.instructions p {
    color:rgb(153, 150, 150)
}
